<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>LevelOut-Web</title>

	<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body onload="onloadfun()">
<div style="text-align: center;">
	<h1>
		<a href="https://www.uni-weimar.de/en/university/news/bauhausjournal-online/titel/levelout-project-launch-indoor-and-outdoor-smart-navigation/" target="_blank">
			LEVELOUT
		</a>
	</h1>
</div>

<h1><u>IFC</u></u></h1>
<div id="firstUpload" style="display: none;">
	<input th:attr="id=|file_0|" type="file" style="width: 200px"/>
	<button name="button" value="OK" type="button"
			th:attr="onclick=|upload('0')|">UPLOAD</button>

	<div th:attr="id=|progress_status_0|" class="progress_status">
		<div th:attr="id=|progress_0|" class="progress"></div>
	</div>
</div>
<div id="revisionUpload" style="display: none;">
	<input th:attr="id=|file_1|" type="file" style="width: 200px"/>
	<button name="button" value="OK" type="button"
			th:attr="onclick=|upload('1')|">Upload New Revision</button>

	<div th:attr="id=|progress_status_1|" class="progress_status">
		<div th:attr="id=|progress_1|" class="progress"></div>
	</div>
</div>
<div id="revisionsDetails" style="display: none;">
</div>

<script>
	var contextRoot = '[[@{/}]]'.replace(/\/$/, "");
	var cookieAttribute = 'leveloutProjectId'
	var projectId = getCookie(cookieAttribute);

	var initAction = "[[${initAction}]]";
	if(initAction == 'deleteCookie'){
       document.cookie = cookieAttribute+"=undefined; expires=Fri, 31 Dec 9999 23:59:59 GMT; SameSite=None; Secure";
	   alert(document.cookie+" is deleted");
	}

	function update(data, elementId_suffix) {
		var element = document.getElementById("progress_"+elementId_suffix);
		element.style.display = "block";
		fetch(contextRoot+"/process/status/"+data.topicId, {
			method: "get"
		})
		.then(function(response) {
		  response.json().then(function(json){
		  	if (json.percentage >= 100 && json.actionState.toString() == "FINISHED") {
				console.log(json);
				element.style.width =  "100%";
				element.innerHTML = json.title + ":" + "100%";
				setTimeout(function(){
					alert("Finished Uploading");
					element.style.display = "none";
				},1000);
			} else {
				console.log(json);
				element.style.width = json.percentage * 1 + "%";
				element.innerHTML = json.title + ":" + json.percentage  + "%";
				update(json, elementId_suffix);
			}
		  });
		}).catch(err => alert(err.error));
	}

	function upload(elementId_suffix) {
		const inputFile = document.getElementById("file_"+elementId_suffix);
		const formData = new FormData();
		for (const file of inputFile.files) {
			formData.append("file", file);
		}
		fetch(contextRoot+"/process/checkIn", {
			method: "post",
			body: formData
		})
		.then(function(response) {
		  // response.json() returns a promise, use the same .then syntax to work with the results
		  response.json().then(function(json){
			console.log(": "+json.percentage);
			document.cookie = cookieAttribute+"="+json.projectId+"; expires=Fri, 31 Dec 9999 23:59:59 GMT; SameSite=None; Secure";
			update(json, elementId_suffix);
		  });
		}).catch(err => alert(err.error));
	}

	function getCookie(name) {
		function escape(s) { return s.replace(/([.*+?\^$(){}|\[\]\/\\])/g, '\\$1'); }
		var match = document.cookie.match(RegExp('(?:^|;\\s*)' + escape(name) + '=([^;]*)'));
		return match ? match[1] : null;
	}

	function onloadfun() {
		if(projectId && !(projectId === 'undefined' || projectId === null)) {
			document.getElementById("firstUpload").style.display="none";
			document.getElementById("revisionUpload").style.display="block";
			fetch(contextRoot+"/project/revisions", {
				method: "get"
			})
			.then(function(response) {
			  response.json().then(function(json){
			  	var innerHTMLVal="<table><tr><th>Revision ID</th><th>Revision Description</th></tr>"
			  	json.forEach((jsonEntry)=>{
			  		innerHTMLVal=innerHTMLVal+"<tr><td>"+jsonEntry.revisionId+"</td><td>"+jsonEntry.description+"</td></tr>"
			  	});
				document.getElementById("revisionsDetails").innerHTML=innerHTMLVal+"</table>"+
				"<br/><br/><br/><br/><h1><u>Report</u></u></h1><br/><br/><br/><br/><h1><u>Map</u></u></h1>"
				document.getElementById("revisionsDetails").style.display="block";
			  });
			}).catch(err => alert(err.error));
		} else {
		    projectId = '0';
			document.getElementById("firstUpload").style.display="block";
			document.getElementById("revisionUpload").style.display="none";
			document.getElementById("revisionsDetails").style.display="none";
		}
	}
	</script>

</body>
</html>