<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Spring Boot Thymeleaf Hello World Example</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<script>
    function refreshPage(){
        window.location.reload();
    }

	function update(data, elementId_suffix) {
		var element = document.getElementById("progress_"+elementId_suffix);
		element.style.display = "block";
		fetch("/process/status/"+data.projectId+"/"+data.topicId, {
			method: "get"
		})
		.then(function(response) {
		  response.json().then(function(json){
		  	if (json.percentage >= 100 && json.actionState.toString() == "FINISHED") {
				console.log(json);
				element.style.width =  "100%";
				element.innerHTML = json.title + ":" + "100%";
				setTimeout(function(){
					alert("Finished Uploading");
					element.style.display = "none";
					refreshPage();
				},1000);
			} else {
				console.log(json);
				element.style.width = json.percentage * 1 + "%";
				element.innerHTML = json.title + ":" + json.percentage  + "%";
				update(json, elementId_suffix);
			}
		  });
		}).catch(err => console.error(err));
	}

	function hello(projectId) {
		const inputFile = document.getElementById("file_"+projectId);
		const formData = new FormData();
		for (const file of inputFile.files) {
			formData.append("file", file);
		}
		fetch("/process/checkIn/"+projectId, {
			method: "post",
			body: formData
		})
		.then(function(response) {
		  // response.json() returns a promise, use the same .then syntax to work with the results
		  response.json().then(function(json){
			console.log(": "+json.percentage);
			update(json, projectId);
		  });
		}).catch(err => console.error(err));
	}
	</script>
</head>

<body>
	<p>
		<button class="button" onclick="window.open('https://www.uni-weimar.de/en/university/start/','_blank')">
			Bauhaus-Universität Weimar
		</button>
	</p>

	<div class="starter-template">
		<h1>Upload IFC Files</h1>
		<h2>
			<span th:text="'Hello, ' + ${message}"></span>
		</h2>
	</div>
	<h1><u>IFC</u></u></h1>
	<div>
        <input th:attr="id=|file_${projectId}|" type="file" style="width: 200px"/>
		<button name="button" value="OK" type="button"
				th:attr="onclick=|hello('${projectId}')|">Upload New Revision</button>

		<div th:attr="id=|progress_status_${projectId}|" class="progress_status">
			<div th:attr="id=|progress_${projectId}|" class="progress"></div>
		</div>
	</div>
	<table>
		<tr>
			<th>Revision ID</th>
			<th>Revision Description</th>
		</tr>
		<tr th:each="revision: ${revisions}">
			<td th:text="${revision.revisionId}" />
			<td th:text="${revision.description}" />
		</tr>
	</table>
	<br/><br/><br/><br/>
	<h1><u>Report</u></u></h1>
	<br/><br/><br/><br/>
	<h1><u>Map</u></u></h1>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>