<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>LevelOut-Web</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
<div style="text-align: center;">
	<h1>
		<a href="https://www.uni-weimar.de/en/university/news/bauhausjournal-online/titel/levelout-project-launch-indoor-and-outdoor-smart-navigation/" target="_blank">
			LEVELOUT
		</a>
	</h1>
</div>

<h1><u>IFC</u></u></h1>
<div id="revisionUpload">
	<input th:attr="id=|file_upload|" type="file" style="width: 200px"/>
	<button name="button" value="OK" type="button" th:attr="onclick=|upload()|">Upload New Revision</button>

	<div th:attr="id=|progress_status|" class="progress_status">
		<div th:attr="id=|progress|" class="progress"></div>
	</div>
</div>
<div id="revisionsDetails">
	<table>
		<tr><th>Revision ID</th><th>Revision Description</th></tr>

		<th:block th:each="revision : ${revisions}">
			<tr>
				<td><p th:text="${revision.revisionId}"></p></td>
				<td><p th:text="${revision.description}"></p></td>
			</tr>
		</th:block>
	</table>
	<br/><br/><br/><br/><h1><u>Report</u></u></h1><br/><br/><br/><br/><h1><u>Map</u></u></h1>
</div>

<script>
	var contextRoot = '[[@{/}]]'.replace(/\/$/, "");
	function refreshPage(){
        window.location.reload();
    }

	function update(data) {
		var element = document.getElementById("progress");
		element.style.display = "block";
		fetch(contextRoot+"/process/status/"+data.topicId, {
			method: "get"
		})
		.then(function(response) {
		  response.json().then(function(json){
		  	if (json.percentage >= 100 && json.actionState.toString() == "FINISHED") {
				console.log(json);
				element.style.width =  "100%";
				element.innerHTML = json.title + ":" + "100%";
				setTimeout(function(){
					alert("Finished Uploading");
					element.style.display = "none";
					refreshPage();
				},1000);
			} else {
				console.log(json);
				element.style.width = json.percentage * 1 + "%";
				element.innerHTML = json.title + ":" + json.percentage  + "%";
				update(json);
			}
		  });
		}).catch(err => alert(err.error));
	}

	function upload() {
		const inputFile = document.getElementById("file_upload");
		const formData = new FormData();
		for (const file of inputFile.files) {
			formData.append("file", file);
		}
		fetch(contextRoot+"/process/checkIn", {
			method: "post",
			body: formData
		})
		.then(function(response) {
		  // response.json() returns a promise, use the same .then syntax to work with the results
		  response.json().then(function(json){
			console.log(": "+json.percentage);
			update(json);
		  });
		}).catch(err => alert(err.error));
	}
	</script>

</body>
</html>