<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Spring Boot Thymeleaf Hello World Example</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<script>
	function update(data) {
		var element = document.getElementById("progress_"+data.projectId);
		element.style.display = "block";
		fetch("/process/status/"+data.projectId+"/"+data.topicId, {
			method: "get"
		})
		.then(function(response) {
		  response.json().then(function(json){
		  	if (json.percentage >= 100 && json.actionState.toString() == "FINISHED") {
				element.style.width =  "100%";
				element.innerHTML = json.title + ":" + "100%";
				setTimeout(function(){
					alert("Finished Uploading");
					element.style.display = "none";
				},1000);
			} else {
				console.log(json);
				element.style.width = json.percentage * 1 + "%";
				element.innerHTML = json.title + ":" + json.percentage  + "%";
				update(json);
			}
		  });
		}).catch(err => console.error(err));
	}
	function hello(projectId) {
		const inputFile = document.getElementById("file_"+projectId);
		const formData = new FormData();
		for (const file of inputFile.files) {
			formData.append("file", file);
		}
		fetch("/process/checkIn/"+projectId, {
			method: "post",
			body: formData
		})
		.then(function(response) {
		  // response.json() returns a promise, use the same .then syntax to work with the results
		  response.json().then(function(json){
			console.log(": "+json.percentage);
			update(json);
		  });
		}).catch(err => console.error(err));
	}
	</script>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a target="_blank" class="navbar-brand"
			href="https://www.uni-weimar.de/en/university/start/">Bauhaus-Universität
			Weimar</a>
	</nav>

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Upload/Download BIM/IFC Files</h1>
			<h2>
				<span th:text="'Hello, ' + ${message}"></span>
			</h2>
		</div>

		<table>
			<tr>
				<th>ID</th>
				<th>Project Name</th>
				<th>Project Description</th>
				<th>Actions</th>
			</tr>
			<tr th:each="project: ${projects}">
				<td th:text="${project.projectId}" />
				<td th:text="${project.name}" />
				<td th:text="${project.description}" />
				<td>
				 	<input th:attr="id=|file_${project.projectId}|" type="file"/>
					<button name="button" value="OK" type="button"
						th:attr="onclick=|hello('${project.projectId}')|">UPLOAD</button>
					
					<div th:attr="id=|progress_status_${project.projectId}|" class="progress_status">
					  <div th:attr="id=|progress_${project.projectId}|" class="progress"></div>
					</div>
				</td>
			</tr>
		</table>

	</main>
	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>