<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>LevelOut-Web</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<script>
	var projectId = document.cookie
	  .split("; ")
		  .find((row) => row.startsWith("projectId"))
	if(projectId) (
		window.location.replace("/myProject?"+projectId)
	)

	async function addProject() {
		var name = document.getElementById('projectName').value
		var schema = document.getElementById('projectSchema').value
		var exportLengthMeasurePrefix = document.getElementById('projectMeasurePrefix').value
		var description = document.getElementById('projectDescription').value

		const response = await fetch("/project", {
			  method: 'PUT',
			  body: JSON.stringify({
				name:name,
				schema:schema,
				exportLengthMeasurePrefix:exportLengthMeasurePrefix,
				description:description
	    	  }),
			  headers: {
				'Content-type': 'application/json; charset=UTF-8',
			  }
	    })
	}

    function refreshPage(){
        window.location.reload();
    }

	function showHideProjectForm(show) {
		if(show) {
			document.getElementById('projectForm').style.display="block"
		}
		else {
			document.getElementById('projectForm').style.display="none"
		}
	}

	function update(data, elementId_suffix) {
		var element = document.getElementById("progress_"+elementId_suffix);
		element.style.display = "block";
		fetch("/process/status/"+data.projectId+"/"+data.topicId, {
			method: "get"
		})
		.then(function(response) {
		  response.json().then(function(json){
		  	if (json.percentage >= 100 && json.actionState.toString() == "FINISHED") {
				console.log(json);
				element.style.width =  "100%";
				element.innerHTML = json.title + ":" + "100%";
				setTimeout(function(){
					document.cookie =
					"projectId="+data.projectId+"; expires=Fri, 31 Dec 9999 23:59:59 GMT; SameSite=None; Secure";
					alert("Finished Uploading");
					element.style.display = "none";
					refreshPage();
				},1000);
			} else {
				console.log(json);
				element.style.width = json.percentage * 1 + "%";
				element.innerHTML = json.title + ":" + json.percentage  + "%";
				update(json, elementId_suffix);
			}
		  });
		}).catch(err => console.error(err));
	}
	function hello(projectId) {
		const inputFile = document.getElementById("file_"+projectId);
		const formData = new FormData();
		for (const file of inputFile.files) {
			formData.append("file", file);
		}
		fetch("/process/checkIn/"+projectId, {
			method: "post",
			body: formData
		})
		.then(function(response) {
		  // response.json() returns a promise, use the same .then syntax to work with the results
		  response.json().then(function(json){
			console.log(": "+json.percentage);
			update(json, projectId);
		  });
		}).catch(err => console.error(err));
	}
	</script>
</head>

<body>
<div style="text-align: center;">
	<h1>
		<a href="https://www.uni-weimar.de/en/university/news/bauhausjournal-online/titel/levelout-project-launch-indoor-and-outdoor-smart-navigation/" target="_blank">
			LEVELOUT
		</a>
	</h1>
</div>
<div>
        <input th:attr="id=|file_0|" type="file" style="width: 200px"/>
		<button name="button" value="OK" type="button"
				th:attr="onclick=|hello('0')|">UPLOAD</button>

		<div th:attr="id=|progress_status_0|" class="progress_status">
			<div th:attr="id=|progress_0|" class="progress"></div>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>